 *{

  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
}

.App  {

  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2rem;

 
}
.Calculator {

  max-width: 320px;
  width: 400px;
  border-radius: 12px;
  margin-top: 5px;
 

}

.AmazingNumberButton {

  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(3, 1fr);
  padding: 5px;
}

.BeautifulScreen input  {

  background-color: #2c3e50;
  color: #fff;
  font-size: 2em;
  border: 0;
  padding: 0.3em;
  text-align: right;
  width: 100%;
  height: 100px;
}

button {

  min-height: 50px;
  font-size: 20px;
  font-weight: bold;
  border: none;
  background: rgb(200, 200, 200);
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {

  background-color: #34495e;
  color: #fff;

}
.GreatOperationButton {

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  padding: 5px;
}
.GreatOperationButton button {

  background-color: #9b59b6;
  color: #fff;
}
.MagnificientEqualButton {

  display: flex;
  justify-content: center;
  background-color: #fff;
  padding: 5px;
}
.MagnificientEqualButton button {

  width: 100%;
}
.ItsOverNineThousand {

  background-color: #e84118;
  text-align: center;
  color: #fff;
}
.calculate-button {

  background-color: #e74c3c;
  color: #fff;
}
.save-button {

  width: 100%;

}